<%= render 'search_form', query: query, builder: builder %>

<h1>Search Results for "<%= query %>"</h1>
<% if prompts.any? %>
  <ul>
    <% prompts.with_highlights do |prompt, details| %>
      <li><%= simple_format details[:content] %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>
